graphs.json
[
    {
        "id": "2d60f9e1.9f68e6",
        "type": "tab",
        "label": "Monitor ESP32",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6a14a78.a5a6a8",
        "type": "mqtt in",
        "z": "2d60f9e1.9f68e6",
        "name": "ESP32 Quarto 1 (Clima)",
        "topic": "meu_iot/quarto1/clima",
        "qos": "0",
        "datatype": "json",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "c9c72e27.9b17",
                "a1b3c4d5.3e4f58"
            ]
        ]
    },
    {
        "id": "c9c72e27.9b17",
        "type": "function",
        "z": "2d60f9e1.9f68e6",
        "name": "Dividir Temp/Umidade",
        "func": "// O nó MQTT já converteu o JSON em um objeto: msg.payload\n// msg.payload = {temperatura: 25.5, umidade: 60.1}\n\n// 1. Mensagem para Temperatura (saída 1)\nvar msgTemp = {\n    payload: msg.payload.temperatura,\n    topic: \"Temperatura\"\n};\n\n// 2. Mensagem para Umidade (saída 2)\nvar msgHumid = {\n    payload: msg.payload.umidade,\n    topic: \"Umidade\"\n};\n\n// Retorna as duas mensagens em saídas separadas\nreturn [ msgTemp, msgHumid ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "f9b1d9c3.08f7e8",
                "d7c2a3b4.1e2f"
            ],
            [
                "e8d4a13d.c825b",
                "d7c2a3b4.1e2f"
            ]
        ]
    },
    {
        "id": "f9b1d9c3.08f7e8",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Temperatura",
        "group": "e1f1a5b8.f7e048",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "28",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "e8d4a13d.c825b",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Umidade",
        "group": "e1f1a5b8.f7e048",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#54a8e6",
            "#1b7c3d",
            "#54a8e6"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7c2a3b4.1e2f",
        "type": "ui_chart",
        "z": "2d60f9e1.9f68e6",
        "name": "Histórico Temp/Umidade",
        "group": "e1f1a5b8.f7e048",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico (1 Hora)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b3c4d5.3e4f58",
        "type": "debug",
        "z": "2d60f9e1.9f68e6",
        "name": "Debug Clima",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2a7c5b6.1f3e48",
        "type": "mqtt in",
        "z": "2d60f9e1.9f68e6",
        "name": "ESP32 Sala 1 (Luz)",
        "topic": "meu_iot/sala1/luz_lux",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "f8b9e3a.f1f4e18",
                "a2b3c4d5.e6f7a8"
            ]
        ]
    },
    {
        "id": "f8b9e3a.f1f4e18",
        "type": "function",
        "z": "2d60f9e1.9f68e6",
        "name": "Processar Lux",
        "func": "// Payload é uma string, ex: \"123.45\"\nvar lux = parseFloat(msg.payload);\n\n// Parar se não for um número válido\nif (isNaN(lux)) {\n    return null;\n}\n\n// --- Lógica Dia/Noite ---\n// Lógica corrigida: > 50 Lux = Dia (Claro), < 50 Lux = Noite (Escuro)\nvar status = \"\";\nif (lux > 50) {\n    status = \"Dia\";\n} else {\n    status = \"Noite\";\n}\n\n// Saída 1: Mensagem para o Gauge e Gráfico (Valor numérico)\nvar msgLux = {\n    payload: lux,\n    topic: \"Luminosidade\" // Tópico para o gráfico\n};\n\n// Saída 2: Mensagem para o Texto (Status Dia/Noite)\nvar msgStatus = {\n    payload: status\n};\n\n// Retorna as duas mensagens para as saídas 1 e 2\nreturn [ msgLux, msgStatus ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "a7b4f5c.1e16f08",
                "b9c8d7e.2a3b4c5"
            ],
            [
                "c6d7e8f.3b4a5d6"
            ]
        ]
    },
    {
        "id": "a7b4f5c.1e16f08",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Luminosidade",
        "group": "c5e9a0f9.e4e2a",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "Lux",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#333333",
            "#e6e600",
            "#ffff00"
        ],
        "seg1": "50",
        "seg2": "200",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "b9c8d7e.2a3b4c5",
        "type": "ui_chart",
        "z": "2d60f9e1.9f68e6",
        "name": "Histórico Lux",
        "group": "c5e9a0f9.e4e2a",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico Lux (1 Hora)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffff00",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c6d7e8f.3b4a5d6",
        "type": "ui_text",
        "z": "2d60f9e1.9f68e6",
        "group": "c5e9a0f9.e4e2a",
        "order": 2,
        "width": "6",
        "height": "3",
        "name": "Status Luz",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "a2b3c4d5.e6f7a8",
        "type": "debug",
        "z": "2d60f9e1.9f68e6",
        "name": "Debug Luz",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3c1b2d4.e5f6a7",
        "type": "ui_group",
        "name": "Cozinha 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "f1d2e3a4.b5c6d7",
        "type": "mqtt in",
        "z": "2d60f9e1.9f68e6",
        "name": "ESP32 Cozinha 1 (Fumaça)",
        "topic": "meu_iot/cozinha1/fumaca_pinstate",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "g1h2j3k4.l5m6n7"
            ]
        ]
    },
    {
        "id": "g1h2j3k4.l5m6n7",
        "type": "function",
        "z": "2d60f9e1.9f68e6",
        "name": "Processar Fumaça (0=Alerta, 1=OK)",
        "func": "// payload é \"0\" (Fumaça) ou \"1\" (Limpo)\n// Sensores digitais de fumaça geralmente enviam 0 quando detectam.\nvar status_texto = \"\";\nvar valor_grafico = 0;\n\nif (msg.payload == \"0\") {\n    status_texto = \"FUMAÇA DETECTADA!\";\n    valor_grafico = 0; // Para o gráfico (0 = Alerta)\n} else { // Assumindo \"1\"\n    status_texto = \"Ar Limpo\";\n    valor_grafico = 1; // Para o gráfico (1 = OK)\n}\n\n// Saída 1: Mensagem para o Texto de Status\nvar msgStatus = {\n    payload: status_texto\n};\n\n// Saída 2: Mensagem para o Gráfico\nvar msgGrafico = {\n    payload: valor_grafico,\n    topic: \"Fumaça\"\n};\n\nreturn [ msgStatus, msgGrafico ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "i1j2k3l4.m5n6o7"
            ],
            [
                "p1q2r3s4.t5u6v7"
            ]
        ]
    },
    {
        "id": "i1j2k3l4.m5n6o7",
        "type": "ui_text",
        "z": "2d60f9e1.9f68e6",
        "group": "a3c1b2d4.e5f6a7",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Status Fumaça",
        "label": "Alerta de Fumaça",
        "format": "<b><font color=\"{{msg.payload == 'Ar Limpo' ? 'green' : 'red'}}\" size=\"6\">{{msg.payload}}</font></b>",
        "layout": "col-center",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "p1q2r3s4.t5u6v7",
        "type": "ui_chart",
        "z": "2d60f9e1.9f68e6",
        "name": "Gráfico Fumaça",
        "group": "a3c1b2d4.e5f6a7",
        "order": 2,
        "width": "12",
        "height": "6",
        "label": "Histórico Fumaça (1=OK, 0=Alerta)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "stepped",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1.1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "x1y2z3a4.b5c6d7",
        "type": "ui_group",
        "name": "Garagem 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "w1x2y3z4.a5b6c7",
        "type": "mqtt in",
        "z": "2d60f9e1.9f68e6",
        "name": "ESP32 Garagem 1 (Distância)",
        "topic": "meu_iot/garagem1/distancia_cm",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 760,
        "wires": [
            [
                "v1w2x3y4.z5a6b7"
            ]
        ]
    },
    {
        "id": "v1w2x3y4.z5a6b7",
        "type": "function",
        "z": "2d60f9e1.9f68e6",
        "name": "Processar Distância (<100cm Alerta)",
        "func": "// Payload é uma string, ex: \"150.75\"\nvar dist_cm = parseFloat(msg.payload);\n\nif (isNaN(dist_cm)) {\n    return null; // Ignora se não for um número\n}\n\nvar status_texto = \"\";\n\n// Lógica do Alerta: < 100cm = Alerta de proximidade\nif (dist_cm < 100) {\n    status_texto = \"ALERTA: Próximo!\";\n} else {\n    status_texto = \"OK - Distância Segura\";\n}\n\n// Saída 1: Valor numérico para Gauge e Gráfico\nvar msgDist = {\n    payload: dist_cm,\n    topic: \"Distância\" // Para o gráfico\n};\n\n// Saída 2: Texto de status para o Alerta\nvar msgStatus = {\n    payload: status_texto\n};\n\nreturn [ msgDist, msgStatus ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "t1u2v3w4.x5y6z7",
                "r1s2t3u4.v5w6x7"
            ],
            [
                "q1r2s3t4.u5v6w7"
            ]
        ]
    },
    {
        "id": "t1u2v3w4.x5y6z7",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Distância",
        "group": "x1y2z3a4.b5c6d7",
        "order": 2,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Distância do Obstáculo",
        "label": "cm",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "q1r2s3t4.u5v6w7",
        "type": "ui_text",
        "z": "2d60f9e1.9f68e6",
        "group": "x1y2z3a4.b5c6d7",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Status Alerta",
        "label": "Status",
        "format": "<font color=\"{{msg.payload == 'OK - Distância Segura' ? 'green' : 'red'}}\" size=\"5\">\n  <b>{{msg.payload}}</b>\n</font>",
        "layout": "col-center",
        "x": 700,
        "y": 780,
        "wires": []
    },
    {
        "id": "r1s2t3u4.v5w6x7",
        "type": "ui_chart",
        "z": "2d60f9e1.9f68e6",
        "name": "Histórico Distância",
        "group": "x1y2z3a4.b5c6d7",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico Distância (1h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a2a0c.c790b6",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e1f1a5b8.f7e048",
        "type": "ui_group",
        "name": "Quarto 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b1b3b3a7.4e7bc",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c5e9a0f9.e4e2a",
        "type": "ui_group",
        "name": "Sala 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    }
]