graphs.json
[
    {
        "id": "a6902c8af91e1f5e",
        "type": "tab",
        "label": "Monitoramento ESP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a07a8b90bddd76e",
        "type": "mqtt in",
        "z": "a6902c8af91e1f5e",
        "name": "ESP32 Quarto 1 (Clima)",
        "topic": "meu_iot/quarto1/clima",
        "qos": "0",
        "datatype": "json",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "624506b2db4ab571",
                "0f320fa56d7d503a",
                "d4c6358ee69b3435"
            ]
        ]
    },
    {
        "id": "624506b2db4ab571",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Dividir Temp/Umidade",
        "func": "// O nó MQTT já converteu o JSON em um objeto: msg.payload\n// msg.payload = {temperatura: 25.5, umidade: 60.1}\n\n// 1. Mensagem para Temperatura (saída 1)\nvar msgTemp = {\n    payload: msg.payload.temperatura,\n    topic: \"Temperatura\"\n};\n\n// 2. Mensagem para Umidade (saída 2)\nvar msgHumid = {\n    payload: msg.payload.umidade,\n    topic: \"Umidade\"\n};\n\n// Retorna as duas mensagens em saídas separadas\nreturn [ msgTemp, msgHumid ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "e32c3d6d9ce7b499",
                "09b71cf86fa686d7"
            ],
            [
                "61a27d387a41da97",
                "09b71cf86fa686d7"
            ]
        ]
    },
    {
        "id": "e32c3d6d9ce7b499",
        "type": "ui_gauge",
        "z": "a6902c8af91e1f5e",
        "name": "Temperatura",
        "group": "e1f1a5b8.f7e048",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "28",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "61a27d387a41da97",
        "type": "ui_gauge",
        "z": "a6902c8af91e1f5e",
        "name": "Umidade",
        "group": "e1f1a5b8.f7e048",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#54a8e6",
            "#1b7c3d",
            "#54a8e6"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "09b71cf86fa686d7",
        "type": "ui_chart",
        "z": "a6902c8af91e1f5e",
        "name": "Histórico Temp/Umidade",
        "group": "e1f1a5b8.f7e048",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico (1 Hora)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 670,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0f320fa56d7d503a",
        "type": "debug",
        "z": "a6902c8af91e1f5e",
        "name": "Debug Clima",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "31bda9414df68446",
        "type": "mqtt in",
        "z": "a6902c8af91e1f5e",
        "name": "ESP32 Sala 1 (Luz)",
        "topic": "meu_iot/sala1/luz_lux",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "cb2946ab138b194e",
                "8d429a552b95482e",
                "d7896e1f3f9c6f10"
            ]
        ]
    },
    {
        "id": "cb2946ab138b194e",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Processar Lux",
        "func": "// Payload é uma string, ex: \"123.45\"\nvar lux = parseFloat(msg.payload);\n\n// Parar se não for um número válido\nif (isNaN(lux)) {\n    return null;\n}\n\n// --- Lógica Dia/Noite ---\n// Lógica corrigida: > 50 Lux = Dia (Claro), < 50 Lux = Noite (Escuro)\nvar status = \"\";\nif (lux > 50) {\n    status = \"Dia\";\n} else {\n    status = \"Noite\";\n}\n\n// Saída 1: Mensagem para o Gauge e Gráfico (Valor numérico)\nvar msgLux = {\n    payload: lux,\n    topic: \"Luminosidade\" // Tópico para o gráfico\n};\n\n// Saída 2: Mensagem para o Texto (Status Dia/Noite)\nvar msgStatus = {\n    payload: status\n};\n\n// Retorna as duas mensagens para as saídas 1 e 2\nreturn [ msgLux, msgStatus ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "3241e28a5a7fdff4",
                "d80d667a95bb80a5"
            ],
            [
                "0e516a66bcdf5080"
            ]
        ]
    },
    {
        "id": "3241e28a5a7fdff4",
        "type": "ui_gauge",
        "z": "a6902c8af91e1f5e",
        "name": "Luminosidade",
        "group": "1811e70784daa3f3",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Luminosidade",
        "label": "Lux",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#333333",
            "#e6e600",
            "#ffff00"
        ],
        "seg1": "50",
        "seg2": "200",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "d80d667a95bb80a5",
        "type": "ui_chart",
        "z": "a6902c8af91e1f5e",
        "name": "Histórico Lux",
        "group": "1811e70784daa3f3",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico Lux (1 Hora)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffff00",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0e516a66bcdf5080",
        "type": "ui_text",
        "z": "a6902c8af91e1f5e",
        "group": "1811e70784daa3f3",
        "order": 2,
        "width": "6",
        "height": "3",
        "name": "Status Luz",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "8d429a552b95482e",
        "type": "debug",
        "z": "a6902c8af91e1f5e",
        "name": "Debug Luz",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "d61c765bbf26b8ac",
        "type": "mqtt in",
        "z": "a6902c8af91e1f5e",
        "name": "ESP32 Cozinha 1 (Fumaça)",
        "topic": "meu_iot/cozinha1/fumaca_pinstate",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "3f6594c3eb504122",
                "98461327f5a33bd6"
            ]
        ]
    },
    {
        "id": "3f6594c3eb504122",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Processar Fumaça (0=Alerta, 1=OK)",
        "func": "// payload é \"0\" (Fumaça) ou \"1\" (Limpo)\n// Sensores digitais de fumaça geralmente enviam 0 quando detectam.\nvar status_texto = \"\";\nvar valor_grafico = 0;\n\nif (msg.payload == \"0\") {\n    status_texto = \"FUMAÇA DETECTADA!\";\n    valor_grafico = 0; // Para o gráfico (0 = Alerta)\n} else { // Assumindo \"1\"\n    status_texto = \"Ar Limpo\";\n    valor_grafico = 1; // Para o gráfico (1 = OK)\n}\n\n// Saída 1: Mensagem para o Texto de Status\nvar msgStatus = {\n    payload: status_texto\n};\n\n// Saída 2: Mensagem para o Gráfico\nvar msgGrafico = {\n    payload: valor_grafico,\n    topic: \"Fumaça\"\n};\n\nreturn [ msgStatus, msgGrafico ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "dd88a3e3f41c4824"
            ],
            [
                "f2a3f7509677e286"
            ]
        ]
    },
    {
        "id": "dd88a3e3f41c4824",
        "type": "ui_text",
        "z": "a6902c8af91e1f5e",
        "group": "21a8caf4bec165dd",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Status Fumaça",
        "label": "Alerta de Fumaça",
        "format": "<b><font color=\"{{msg.payload == 'Ar Limpo' ? 'green' : 'red'}}\" size=\"6\">{{msg.payload}}</font></b>",
        "layout": "col-center",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "f2a3f7509677e286",
        "type": "ui_chart",
        "z": "a6902c8af91e1f5e",
        "name": "Gráfico Fumaça",
        "group": "21a8caf4bec165dd",
        "order": 2,
        "width": "12",
        "height": "6",
        "label": "Histórico Fumaça (1=OK, 0=Alerta)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "stepped",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "1.1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 680,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5c901780843f62f0",
        "type": "mqtt in",
        "z": "a6902c8af91e1f5e",
        "name": "ESP32 Garagem 1 (Distância)",
        "topic": "meu_iot/garagem1/distancia_cm",
        "qos": "0",
        "datatype": "auto",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "9cc33ff451df81b9",
                "23d274fa356ceca0"
            ]
        ]
    },
    {
        "id": "9cc33ff451df81b9",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Processar Distância (<100cm Alerta)",
        "func": "// Payload é uma string, ex: \"150.75\"\nvar dist_cm = parseFloat(msg.payload);\n\nif (isNaN(dist_cm)) {\n    return null; // Ignora se não for um número\n}\n\nvar status_texto = \"\";\n\n// Lógica do Alerta: < 100cm = Alerta de proximidade\nif (dist_cm < 100) {\n    status_texto = \"ALERTA: Próximo!\";\n} else {\n    status_texto = \"OK - Distância Segura\";\n}\n\n// Saída 1: Valor numérico para Gauge e Gráfico\nvar msgDist = {\n    payload: dist_cm,\n    topic: \"Distância\" // Para o gráfico\n};\n\n// Saída 2: Texto de status para o Alerta\nvar msgStatus = {\n    payload: status_texto\n};\n\nreturn [ msgDist, msgStatus ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "66e098bc5dd118d4",
                "80a28175993ab038"
            ],
            [
                "463d350e20180483"
            ]
        ]
    },
    {
        "id": "66e098bc5dd118d4",
        "type": "ui_gauge",
        "z": "a6902c8af91e1f5e",
        "name": "Distância",
        "group": "93cc542ceb9c9faf",
        "order": 2,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Distância do Obstáculo",
        "label": "cm",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "100",
        "seg2": "200",
        "x": 680,
        "y": 680,
        "wires": []
    },
    {
        "id": "463d350e20180483",
        "type": "ui_text",
        "z": "a6902c8af91e1f5e",
        "group": "93cc542ceb9c9faf",
        "order": 1,
        "width": 12,
        "height": 2,
        "name": "Status Alerta",
        "label": "Status",
        "format": "<font color=\"{{msg.payload == 'OK - Distância Segura' ? 'green' : 'red'}}\" size=\"5\">\n  <b>{{msg.payload}}</b>\n</font>",
        "layout": "col-center",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "80a28175993ab038",
        "type": "ui_chart",
        "z": "a6902c8af91e1f5e",
        "name": "Histórico Distância",
        "group": "93cc542ceb9c9faf",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico Distância (1h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 850,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d4c6358ee69b3435",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Verificar Alerta Clima",
        "func": "var temp = msg.payload.temperatura;\nvar humid = msg.payload.umidade;\nvar alertMsg = [];\nvar chatId = env.get(\"chat_id\"); // Seu Chat ID\n\nif (temp > 30) {\n    alertMsg.push(\"🌡️ Temperatura alta: \" + temp.toFixed(1) + \"°C\");\n}\nif (humid < 25) {\n    alertMsg.push(\"💧 Umidade baixa: \" + humid.toFixed(1) + \"%\");\n}\n\nif (alertMsg.length > 0) {\n    var content = \"🚨 ALERTA - QUARTO 1 🚨\\n\" + alertMsg.join(\"\\n\");\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: content\n    };\n    return msg;\n}\nreturn null; // Sem alerta",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 240,
        "wires": [
            [
                "714dbb6821bf415f"
            ]
        ]
    },
    {
        "id": "714dbb6821bf415f",
        "type": "delay",
        "z": "a6902c8af91e1f5e",
        "name": "Limitar Clima",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "df553be417c5aebb"
            ]
        ]
    },
    {
        "id": "d7896e1f3f9c6f10",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Verificar Alerta Luz",
        "func": "var lux = parseFloat(msg.payload);\nvar chatId = env.get(\"chat_id\"); // Seu Chat ID\nif (isNaN(lux)) return null;\n\nif (lux > 1000) {\n    var content = \"🚨 ALERTA - SALA 1 🚨\\n💡 Luz muito alta: \" + lux.toFixed(0) + \" Lux\";\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: content\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "97e9198b84c6b374"
            ]
        ]
    },
    {
        "id": "97e9198b84c6b374",
        "type": "delay",
        "z": "a6902c8af91e1f5e",
        "name": "Limitar Luz ",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "df553be417c5aebb"
            ]
        ]
    },
    {
        "id": "98461327f5a33bd6",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Verificar Alerta Fumaça",
        "func": "var chatId = env.get(\"chat_id\");; // Seu Chat ID\n\nif (msg.payload == \"0\") {\n    var content = \"🚨 ALERTA - COZINHA 1 🚨\\n🔥🔥🔥 FUMAÇA DETECTADA! 🔥🔥🔥\";\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: content\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "fa7a75c4b2e6f991"
            ]
        ]
    },
    {
        "id": "fa7a75c4b2e6f991",
        "type": "delay",
        "z": "a6902c8af91e1f5e",
        "name": "Limitar Fumaça ",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 640,
        "wires": [
            [
                "df553be417c5aebb"
            ]
        ]
    },
    {
        "id": "23d274fa356ceca0",
        "type": "function",
        "z": "a6902c8af91e1f5e",
        "name": "Verificar Alerta Distância",
        "func": "var dist = parseFloat(msg.payload);\nvar chatId = env.get(\"chat_id\");; // Seu Chat ID\nif (isNaN(dist)) return null;\n\n// \"próxima\" is < 100cm based on user's prior flow\nif (dist < 100) { \n    var content = \"🚨 ALERTA - GARAGEM 1 🚨\\n🚗 Objeto próximo: \" + dist.toFixed(1) + \" cm\";\n    msg.payload = {\n        chatId: chatId,\n        type: 'message',\n        content: content\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 820,
        "wires": [
            [
                "b1b2fe1ec89886b8"
            ]
        ]
    },
    {
        "id": "b1b2fe1ec89886b8",
        "type": "delay",
        "z": "a6902c8af91e1f5e",
        "name": "Limitar Distância ",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 800,
        "wires": [
            [
                "df553be417c5aebb"
            ]
        ]
    },
    {
        "id": "df553be417c5aebb",
        "type": "telegram sender",
        "z": "a6902c8af91e1f5e",
        "name": "Enviar Alerta Telegram",
        "bot": "cebc43dee3486ca7",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1080,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b8a2a0c.c790b6",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e1f1a5b8.f7e048",
        "type": "ui_group",
        "name": "Quarto 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1811e70784daa3f3",
        "type": "ui_group",
        "name": "Sala 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "21a8caf4bec165dd",
        "type": "ui_group",
        "name": "Cozinha 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "93cc542ceb9c9faf",
        "type": "ui_group",
        "name": "Garagem 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "cebc43dee3486ca7",
        "type": "telegram bot",
        "botname": "Tde1-paralela",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b1b3b3a7.4e7bc",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32e1d8cd2aec37b8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-telegrambot": "16.4.0"
        }
    }
]