graphs.json
[
    {
        "id": "2d60f9e1.9f68e6",
        "type": "tab",
        "label": "Monitor ESP32",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e6a14a78.a5a6a8",
        "type": "mqtt in",
        "z": "2d60f9e1.9f68e6",
        "name": "ESP32 Quarto 1",
        "topic": "meu_iot/quarto1/clima",
        "qos": "0",
        "datatype": "json",
        "broker": "b8a2a0c.c790b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c9c72e27.9b17",
                "a1b3c4d5.3e4f58"
            ]
        ]
    },
    {
        "id": "c9c72e27.9b17",
        "type": "function",
        "z": "2d60f9e1.9f68e6",
        "name": "Dividir Dados",
        "func": "// O nó MQTT já converteu o JSON em um objeto: msg.payload\n// msg.payload = {temperatura: 25.5, umidade: 60.1}\n\n// 1. Mensagem para Temperatura (saída 1)\nvar msgTemp = {\n    payload: msg.payload.temperatura,\n    topic: \"Temperatura\"\n};\n\n// 2. Mensagem para Umidade (saída 2)\nvar msgHumid = {\n    payload: msg.payload.umidade,\n    topic: \"Umidade\"\n};\n\n// Retorna as duas mensagens em saídas separadas\nreturn [ msgTemp, msgHumid ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "f9b1d9c3.08f7e8",
                "d7c2a3b4.1e2f"
            ],
            [
                "e8d4a13d.c825b",
                "d7c2a3b4.1e2f"
            ]
        ]
    },
    {
        "id": "f9b1d9c3.08f7e8",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Temperatura",
        "group": "e1f1a5b8.f7e048",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "28",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8d4a13d.c825b",
        "type": "ui_gauge",
        "z": "2d60f9e1.9f68e6",
        "name": "Umidade",
        "group": "e1f1a5b8.f7e048",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#54a8e6",
            "#1b7c3d",
            "#54a8e6"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7c2a3b4.1e2f",
        "type": "ui_chart",
        "z": "2d60f9e1.9f68e6",
        "name": "Histórico",
        "group": "e1f1a5b8.f7e048",
        "order": 3,
        "width": "12",
        "height": "6",
        "label": "Histórico (1 Hora)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#1f77b4",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b3c4d5.3e4f58",
        "type": "debug",
        "z": "2d60f9e1.9f68e6",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "b8a2a0c.c790b6",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e1f1a5b8.f7e048",
        "type": "ui_group",
        "name": "Quarto 1",
        "tab": "b1b3b3a7.4e7bc",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "b1b3b3a7.4e7bc",
        "type": "ui_tab",
        "name": "Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]