device1/esp1.json
[
    {
        "id": "a1b2c3d4.e5f6g7",
        "type": "tab",
        "label": "Dashboard IoT Wokwi",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1c2d3e4.f5f6h7",
        "type": "mqtt in",
        "z": "a1b2c3d4.e5f6g7",
        "name": "Recebe Dados MQTT (Todos)",
        "topic": "meu_iot/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "c1d2e3f4.g5h6i7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires":
        [
            [
                "d1e2f3g4.h5i6j7",
                "e1f2g3h4.i5j6k7"
            ]
        ]
    },
    {
        "id": "d1e2f3g4.h5i6j7",
        "type": "debug",
        "z": "a1b2c3d4.e5f6g7",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires":
        []
    },
    {
        "id": "e1f2g3h4.i5j6k7",
        "type": "function",
        "z": "a1b2c3d4.e5f6g7",
        "name": "Formata e Roteia",
        "func": "// Converte o payload (que é string) para número\nvar valor = parseFloat(msg.payload);\nmsg.payload = valor;\n\n// REQUISITO C (Armazenamento): \n// Cria um objeto de log com data, tópico e valor\nvar log_data = {\n    timestamp: new Date().toISOString(),\n    topic: msg.topic,\n    value: valor\n};\n\n// Envia o objeto de log para a segunda saída da função\n// (que será conectada ao 'file' node)\nvar msg_log = { payload: JSON.stringify(log_data) + \"\\n\" };\n\n// Envia a mensagem original (com payload numérico) \n// para a primeira saída (que vai para o dashboard e alertas)\nreturn [msg, msg_log];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs":
        [],
        "x": 470,
        "y": 200,
        "wires":
        [
            [
                "f1g2h3i4.j5k6l7"
            ],
            [
                "i1j2k3l4.m5n6o7"
            ]
        ]
    },
    {
        "id": "i1j2k3l4.m5n6o7",
        "type": "file",
        "z": "a1b2c3d4.e5f6g7",
        "name": "REQUISITO C: Armazena Log",
        "filename": "/home/user/sensor_log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 770,
        "y": 200,
        "wires":
        [
            []
        ],
        "icon": "node-red/file.svg"
    },
    {
        "id": "f1g2h3i4.j5k6l7",
        "type": "switch",
        "z": "a1b2c3d4.e5f6g7",
        "name": "Filtra Tópico Temperatura",
        "property": "topic",
        "propertyType": "msg",
        "rules":
        [
            {
                "t": "eq",
                "v": "meu_iot/quarto1/temperatura",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 140,
        "wires":
        [
            [
                "z1x2c3v4.b5n6m7"
            ]
        ]
    },
    {
        "id": "z1x2c3v4.b5n6m7",
        "type": "ui_chart",
        "z": "a1b2c3d4.e5f6g7",
        "name": "Temperatura Histórico",
        "group": "o1p2q3r4.s5t6u7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors":
        [
            "#ff7f0e",
            "#aec7e8",
            "#ffbb78",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#1f77b4",
            "#ff9896"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 980,
        "y": 140,
        "wires":
        [
            []
        ]
    },
    {
        "id": "c1d2e3f4.g5h6i7",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "o1p2q3r4.s5t6u7",
        "type": "ui_group",
        "name": "Quarto 1",
        "tab": "r1s2t3u4.v5w6x7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "r1s2t3u4.v5w6x7",
        "type": "ui_tab",
        "name": "Meu Dashboard IoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]